<template>
  <div id="post-table">
    <p v-if="posts.length < 1" class="empty-table">No Posts</p>
    <table v-else>
      <thead>
        <tr>
          <th>Post name</th>
          <th>Comment</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="post in posts" :key="post.id">
          <td v-if="editing === post.id">
            <input type="text" v-model="post.name" />
          </td>
          <td v-else>{{post.name}}</td>
          <td v-if="editing === post.id">
            <input type="text" v-model="post.comment" />
          </td>
          <td v-else>{{post.comment}}</td>
          <td v-if="editing === post.id">
            <button @click="editPost(post)">Save</button>
            <button class="muted-button" @click="cancelEdit(post)">Cancel</button>
          </td>
          <td v-else>
            <button @click="editMode(post)">Edit</button>
            <button @click="$emit('delete:post', post.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "post-table",
  props: {
    posts: Array
  },
  data() {
    return {
      editing: null
    };
  },
  methods: {
    editMode(post) {
      this.cachedPost = Object.assign({}, post);
      this.editing = post.id;
    },

    editPost(post) {
      if (post.name === "" || post.comment === "") return;
      this.$emit("edit:post", post.id, post);
      this.editing = null;
    },
    cancelEdit(post) {
      Object.assign(post, this.cachedPost);
      this.editing = null;
    }
  }
};
</script>

<style scoped>
button {
  margin: 0 0.5rem 0 0;
}
</style>