<template>
  <div id="post-form">
    <form @submit.prevent="handleSubmit">
      <label>Post</label>
      <input
        ref="first"
        v-model="post.name"
        type="text"
        :class="{ 'has-error': submitting && invalidName }"
        @focus="clearStatus"
        @keypress="clearStatus"
      />
      <label>Comment</label>
      <input
        type="text"
        :class="{ 'has-error': submitting && invalidComment }"
        v-model="post.comment"
        @focus="clearStatus"
      />
      <p v-if="error && submitting" class="error-message">❗Please fill out all required fields</p>
      <p v-if="success" class="success-message">✅ Post successfully added</p>
      <button>Add Post</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "post-form",

  data() {
    return {
      submitting: false,
      error: false,
      success: false,

      post: {
        name: "",
        comment: ""
      }
    };
  },

  methods: {
    handleSubmit() {
      this.submitting = true;
      this.clearStatus();

      if (this.invalidName || this.invalidComment) {
        this.error = true;
        return;
      }

      this.$emit("add:post", this.post);
      this.$refs.first.focus();
      this.post = {
        name: "",
        comment: ""
      };
      this.error = false;
      this.success = true;
      this.submitting = false;
    },

    clearStatus() {
      this.success = false;
      this.error = false;
    }
  },
  computed: {
    invalidName() {
      return this.post.name === "";
    },

    invalidComment() {
      return this.post.comment === "";
    }
  }
};
</script>

<style scoped>
form {
  margin-bottom: 2rem;
}

[class*="-message"] {
  font-weight: 500;
}

.error-message {
  color: #d33c40;
}

.success-message {
  color: #32a95d;
}
</style>
