<template>
  <div id="app" class="small-container">
    <h1>Posts</h1>
    <post-form @add:post="createPost" />
    <post-table :posts="posts" @delete:post="deletePost" @edit:post="editPost" />
  </div>
</template>

<script>
import PostTable from "@/components/PostTable.vue";
import PostForm from "@/components/PostForm.vue";

export default {
  name: "app",
  components: {
    PostTable,
    PostForm
  },
  data() {
    return {
      posts: [
        {
          id: 1,
          name: "Post 1",
          comment: "Comment 1"
        },
        {
          id: 2,
          name: "Post 2",
          comment: "Comment 2"
        },
        {
          id: 3,
          name: "Post 3",
          comment: "Comment 3"
        }
      ]
    };
  },
  methods: {
    createPost(post) {
      const lastId =
        this.posts.length > 0 ? this.posts[this.posts.length - 1].id : 0;
      const id = lastId + 1;
      const newPost = { ...post, id };

      this.posts = [...this.posts, newPost];
    },

    deletePost(id) {
      this.posts = this.posts.filter(post => post.id !== id);
    },

    editPost(id, updatedPost) {
      this.posts = this.posts.map(post =>
        post.id === id ? updatedPost : post
      );
    }
  }
};
</script>

<style>
button {
  background: #009435;
  border: 1px solid #009435;
}

.small-container {
  max-width: 680px;
}
</style>